body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.creditcard{
  display: flex;
  flex-direction: column;
margin-left: 20px ;
  border: solid 2px ;
  padding: 20px;
  width:500px;
  height:200px;
  border-radius: 5%;
}


.expiration{
  display: flex;


}
.experation span{
  margin-left: 10px;
}

.appcreditcard{
  display: flex;

}