.label {
  font-weight: bold;
}

.greeting,
.random {
  border: 1px solid black;
  margin: 10px;
  padding: 5px;
}

.box-color {
  border: 1px solid black;
  margin: 10px;
  padding: 30px;
  text-align: center;
}

.credit-cards {
  display: flex;
}

.driver-card {
  display: flex;
  flex-direction: column;
  background-color: royalblue;
}
